/* Submit */
input[type="submit"]{
    text-decoration: none;
    border: 0;
    background-color: white;
}

/* Logo submit de Inicio */
#logoInicio
{
    background-image: url(../img/logoClaudio.png);
    cursor:pointer; 
}

#formulario
{
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

footer{
    background-color: aliceblue;
}

/* Enlaces */
a:link, a:visited, a:active {
    text-decoration:none;
}

#idActivarUsuario{
    color: rgb(27, 216, 27);
}

#idDesactivarUsuario{
    color: red;
}

#idUsuarioActivo{
    color: rgb(27, 216, 27);
}

#idUsuarioInactivo{
    color: red;
}

#idCorazonLleno{
    margin-right: 2em;
}

#idCorazonVacio{
    margin-right: 2em;
}