/* Submit */
input[type="submit"]{
    text-decoration: none;
    border: 0;
    background-color: white;
}

/* Logo submit de Inicio */
#logoInicio
{
    background-image: url(../img/logoClaudio.png);
    cursor:pointer; 
}

#formulario
{
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

footer{
    background-color: aliceblue;
}